<div class="trade-ui">

<div class="trade-columns">

<div class="trade-side">

<h2>{{a.name}}</h2>

<ul>
{{#each itemsA}}
<li class="item" data-id="{{this.id}}" data-side="A">
<img src="{{this.img}}" width="24">
{{this.name}}
</li>
{{/each}}
</ul>

<label>Gold</label>
<input class="gold-a" type="number" value="0">

<button class="accept-a">Accept</button>

</div>

<div class="trade-side">

<h2>{{b.name}}</h2>

<ul>
{{#each itemsB}}
<li class="item" data-id="{{this.id}}" data-side="B">
<img src="{{this.img}}" width="24">
{{this.name}}
</li>
{{/each}}
</ul>

<label>Gold</label>
<input class="gold-b" type="number" value="0">

<button class="accept-b">Accept</button>

</div>

</div>

<button class="cancel">Cancel Trade</button>

</div>
