<div class="trade-ui">

<div class="trade-column">

<h2>{{source.name}}</h2>

<ul>
{{#each itemsA}}
<li class="item-a" data-id="{{this.id}}">
<img src="{{this.img}}" width="24">
{{this.name}}
</li>
{{/each}}
</ul>

<label>Gold</label>
<input class="gold-a" type="number" value="0">

</div>

<div class="trade-column">

<h2>{{target.name}}</h2>

<ul>
{{#each itemsB}}
<li class="item-b" data-id="{{this.id}}">
<img src="{{this.img}}" width="24">
{{this.name}}
</li>
{{/each}}
</ul>

<label>Gold</label>
<input class="gold-b" type="number" value="0">

</div>

<div class="trade-actions">
<button class="accept-trade">Accept Trade</button>
</div>

</div>
